.display{
    width: 800px;
    height: 500px;
    border: 5px solid black;
    background:white
}
.display h2{
  margin: 5px;
  margin-bottom: 20px;
}

.basic1{
    margin: 5px;
}

.basic2{
    margin: 5px;
}
.basic3{
    margin: 5px;
}
.buttondesign{
    margin:5px;
    margin-top: 20px;
   
}

.buttondesign3{
   margin: 5px;
   margin-top: 20px;
}
.all{
   margin-right: 5px;
   background: rgb(201, 234, 247);
   color: black;
}

